@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@inject IDataSharingService DataSharingService;
@using Restaurant_MVC.Models.SharedData;
@model Restaurant_MVC.Common.Model;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var customerId = DataSharingService.GetSharedData("customerId");

}
<h4>FoodItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @foreach (var item in Model.ListFoodItems)
        {
            <form asp-action="Edit" enctype="multipart/form-data">
                <div class="form-group">
                    <input style="display:none" name="FoodItemId" value="@item.FoodItemId" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Danh Mục</label>
                    <select name="FoodCategoryId" class="form-control">
                        <option value="@item.FoodCategoryId">@item.FoodCategory.Name</option>
                        @foreach (var item1 in Model.ListFoodCategories)
                        {
                            <option value="@item1.FoodCategoryId">@item1.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input name="Name" value="@item.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Price</label>
                    <input name="Price" value="@item.Price" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input name="Description" value="@item.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Images</label>
                    <input name="Images" class="form-control" type="file" value="@item.Images" />
                </div>
                <div class="form-group">
                    <input style="display:none;" name="ModifiedDate" value="@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")" class="form-control" />
                </div>
                <div class="form-group">
                    <input style="display:none;" name="ModifiedById" value="@customerId" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

