@model Restaurant_MVC.Common.Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
    @Html.ActionLink("Create New", "Create", new {})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                CreatedDate
            </th>
            <th>
                CreatedById
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListFoodCategories)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.CreatedDate?.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.CreatedById
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.FoodCategoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.FoodCategoryId })
                </td>
            </tr>
        }
    </tbody>
</table>
