@using Restaurant_MVC.Models.SharedData;
@using Restaurant_MVC.Entities;
@inject IDataSharingService DataSharingService
@{
    ViewData["Title"] = "Customer_Info";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var gender = DataSharingService.GetSharedData("gender");

}

<dl id="load_info" class="row" style="color:white; padding-left: 577px; padding-right: 177px;">
    <form asp-action="Customer_Info" asp-controller="Home" method="post">
    <dd class="col-sm-10">
        <input name="CustomerId" readonly style="width: 500px;" value="@DataSharingService.GetSharedData("customerid")" class="form-control" />
    </dd>

    <dd class="col-sm-10">
            @*<input type="text" style="width: 500px;" value="@name" />*@
        <input required name="Name" style="width: 500px;" value="@DataSharingService.GetSharedData("name")" class="form-control" />
    </dd>
    
    <dd class="col-sm-10">
            @if (gender.Equals("true"))
            {
            <input class="form-control" style="width: 500px;" value="Nữ" name="Gender" />
            }
            else
            {
            <input class="form-control" style="width: 500px;" value="Nam" name="Gender" />
            }

    </dd>
    
    <dd class="col-sm-10">
        <input required name="Address" style="width: 500px;" value="@DataSharingService.GetSharedData("address")" class="form-control" />
    </dd>
    
    <dd class="col-sm-10">
        <input required name="Phone" style="width: 500px;" value="@DataSharingService.GetSharedData("phone")" class="form-control" />
    </dd>
    
    <dd class="col-sm-10">
        <input required name="Email" style="width: 500px;" value="@DataSharingService.GetSharedData("email")" class="form-control" />

    </dd>
    
    <dd class="col-sm-10">
        <input required name="DateOfBirth" type="text" style="width: 500px;" value="@DataSharingService.GetSharedData("dateofbirth")" class="form-control" />

    </dd>
    
    <dd class="col-sm-10">
            @*<input asp-for="UserName" disabled style="width: 500px;" value="@username" class="form-control" />*@
        <input type="text" disabled style="width: 500px;" value="@DataSharingService.GetSharedData("username")" />
    </dd>
    
    <dd class="col-sm-10">
        <input required name="PassWord" style="width: 500px;" value="@DataSharingService.GetSharedData("password")" class="form-control" />

    </dd>

    <dd class="col-sm-10">
        <input type="text" disabled style="width: 500px;" value="@DataSharingService.GetSharedData("role")" />
    </dd>
    <dt class="col-sm-2">
        <input type="submit" value="Save" class="btn btn-primary" />
    </dt>
    </form>
    @*<dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.ModifiedById)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.ModifiedById)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.DeleteDate)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.DeleteDate)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.DeleteById)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.DeleteById)
    </dd>*@
</dl>