@using X.PagedList.Mvc.Core;
@model Restaurant_MVC.Common.Model

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- slider section -->
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Fast Food Restaurant
                                </h1>
                                <p>
                                    Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Fast Food Restaurant
                                </h1>
                                <p>
                                    Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Fast Food Restaurant
                                </h1>
                                <p>
                                    Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>

</section>
<!-- end slider section -->
    </div>

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="filters-content">
            <div>
                @* <select>
                @foreach (var item in Model.ListStoriesCategory)
                {
                <option value="@item.StoriesCategoryId">@item.Name</option>
                }
                </select> *@
            </div>

            <div class="row grid">
                @foreach (var item in Model.ListNew)
                {
                    <div class="col-sm-6 col-lg-4 all">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="/images/@item.Image" alt="">
                                </div>
                                <div class="detail-box">
                                    <div>@(item.CreatedDate != null ? item.CreatedDate.Value.ToString("dd/MM/yyyy") : "")</div>
                                    <h5>
                                        @item.Title
                                    </h5>
                                    <div style="display: flex;">
                                        <div>
                                            <p><img src="/images/viewer.png" style="width: 25px; height: 25px;"> @item.Viewer</p>
                                            <p><img src="/images/comment.png" style="width: 25px; height: 25px;"> @item.Comments</p>
                                        </div>
                                        <div style=" padding-top: 23px; padding-left: 153px;">
                                            <a href="#" style="border: solid; padding: 5px; color: white;">Read More</a>
                                        </div>
                                        @* onclick="incrementViewCount(@item.Id)" href="@item.Url()"*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- Hiển thị phân trang -->
            <div class="pagination-container" style="padding-top: 5px;">
                @Html.PagedListPager(Model.ListNew, page => Url.Action("Index", new {page}))
            </div>
        </div>

    </div>
</section>
